---
// src/pages/index.astro
import LayoutPrincipal from '../layouts/LayoutPrincipal.astro';
import BarraNavegacion from '../components/BarraNavegacion.astro';
import BannerPrincipal from '../components/BannerPrincipal.astro';
import GamaInteractiva from '../components/GamaInteractiva.astro';
import SeccionStats from '../components/SeccionStats.astro';
import SeccionHistoria from '../components/SeccionHistoria.astro';
import SeccionSavageGroup from '../components/SeccionSavageGroup.astro';
import SeccionContactoB2B from '../components/SeccionContactoB2B.astro';
---

<LayoutPrincipal>
	<BarraNavegacion />

	<main>
		<BannerPrincipal />

		<GamaInteractiva />

		<SeccionStats />

		<SeccionHistoria />
		
		<SeccionSavageGroup /> 
		
		<SeccionContactoB2B />
	</main>
</LayoutPrincipal>